In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
db = pd.read_csv('latestdata.csv')

/tmp/ipykernel_4626/2335241620.py:1: DtypeWarning: Columns (1,2,9,10,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  db = pd.read_csv('latestdata.csv')

In [4]:
db

,ID,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials,travel_history_binary
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,point,NaN,...,NaN,NaN,Shek Lei,NaN,NaN,Hong Kong,China,8029.0,NaN,NaN
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,point,NaN,...,22.02.2020,NaN,Vo' Euganeo,NaN,NaN,Veneto,Italy,8954.0,NaN,NaN
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,admin0,NaN,...,17.02.2020,NaN,NaN,NaN,NaN,NaN,Singapore,200.0,NaN,NaN
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,admin2,NaN,...,NaN,NaN,NaN,NaN,Zhengzhou City,Henan,China,10091.0,NaN,NaN
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,admin2,NaN,...,NaN,NaN,NaN,NaN,Pingxiang City,Jiangxi,China,7060.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,010-99995,52.0,female,Calleria,Coronel Portillo,Peru,-8.378190,-74.539700,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14429.0,NaN,False
2676307,010-99996,52.0,female,Pueblo Libre,Lima,Peru,-12.076530,-77.067350,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14695.0,NaN,False
2676308,010-99997,52.0,female,Comas,Lima,Peru,-11.932980,-77.040850,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14400.0,NaN,False
2676309,010-99998,52.0,male,Callao,Callao,Peru,-12.000740,-77.118240,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14516.0,NaN,False
2676310,010-99999,52.0,male,Los Olivos,Lima,Peru,-11.976260,-77.075030,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14502.0,NaN,False

In [5]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676311 entries, 0 to 2676310
Data columns (total 33 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        object
 1   age                       object
 2   sex                       object
 3   city                      object
 4   province                  object
 5   country                   object
 6   latitude                  float64
 7   longitude                 float64
 8   geo_resolution            object
 9   date_onset_symptoms       object
 10  date_admission_hospital   object
 11  date_confirmation         object
 12  symptoms                  object
 13  lives_in_Wuhan            object
 14  travel_history_dates      object
 15  travel_history_location   object
 16  reported_market_exposure  object
 17  additional_information    object
 18  chronic_disease_binary    bool
 19  chronic_disease           object
 20  source                    object
 21  sequence_available        object
 22  outcome                   object
 23  date_death_or_discharge   object
 24  notes_for_discussion      object
 25  location                  object
 26  admin3                    object
 27  admin2                    object
 28  admin1                    object
 29  country_new               object
 30  admin_id                  float64
 31  data_moderator_initials   object
 32  travel_history_binary     object
dtypes: bool(1), float64(3), object(29)
memory usage: 655.9+ MB

In [6]:
db.columns

Index(['ID', 'age', 'sex', 'city', 'province', 'country', 'latitude',
       'longitude', 'geo_resolution', 'date_onset_symptoms',
       'date_admission_hospital', 'date_confirmation', 'symptoms',
       'lives_in_Wuhan', 'travel_history_dates', 'travel_history_location',
       'reported_market_exposure', 'additional_information',
       'chronic_disease_binary', 'chronic_disease', 'source',
       'sequence_available', 'outcome', 'date_death_or_discharge',
       'notes_for_discussion', 'location', 'admin3', 'admin2', 'admin1',
       'country_new', 'admin_id', 'data_moderator_initials',
       'travel_history_binary'],
      dtype='object')

In [7]:
db.travel_history_location.value_counts()

USA                                            1234
Spain                                          1119
Wuhan City, Hubei                               729
Italy                                           683
France                                          336
                                               ...
New Zealand; Singapore                            1
Western Cape, South Africa                        1
Portugal; Denmark; Scotland, United Kingdom       1
England, United Kingdom; Denmark                  1
Uruguay                                           1
Name: travel_history_location, Length: 772, dtype: int64

In [8]:
db.travel_history_location.isnull().sum()

2667089

ORTIQCHA USTUNLARDAN TOZALAYMIZ son jihatdan kam yoki takrorlangan va

In [9]:
db.drop(['ID','latitude','longitude','lives_in_Wuhan',
         'travel_history_dates','travel_history_location','reported_market_exposure',
        'additional_information','chronic_disease','source','sequence_available',
        'date_death_or_discharge','notes_for_discussion','location','admin3','admin2','admin1',
         'admin_id','data_moderator_initials','country_new','travel_history_binary','geo_resolution'],axis = 1,inplace = True)

In [10]:
db

,age,sex,city,province,country,date_onset_symptoms,date_admission_hospital,date_confirmation,symptoms,chronic_disease_binary,outcome
0,NaN,male,Shek Lei,Hong Kong,China,NaN,NaN,14.02.2020,NaN,False,"critical condition, intubated as of 14.02.2020"
1,78,male,Vo Euganeo,Veneto,Italy,NaN,NaN,21.02.2020,NaN,False,death
2,61,female,NaN,NaN,Singapore,NaN,NaN,14.02.2020,NaN,False,discharge
3,NaN,NaN,Zhengzhou City,Henan,China,NaN,NaN,26.01.2020,NaN,False,NaN
4,NaN,NaN,Pingxiang City,Jiangxi,China,NaN,NaN,14.02.2020,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2676306,52.0,female,Calleria,Coronel Portillo,Peru,NaN,NaN,17.05.2020,NaN,False,NaN
2676307,52.0,female,Pueblo Libre,Lima,Peru,NaN,NaN,17.05.2020,NaN,False,NaN
2676308,52.0,female,Comas,Lima,Peru,NaN,NaN,17.05.2020,NaN,False,NaN
2676309,52.0,male,Callao,Callao,Peru,NaN,NaN,17.05.2020,NaN,False,NaN
2676310,52.0,male,Los Olivos,Lima,Peru,NaN,NaN,17.05.2020,NaN,False,NaN

In [2]:
db.to_csv("corona_2019.csv",index=False)

NameError: name 'db' is not defined

In [2]:
df = pd.read_csv('corona_2019.csv')
df

/tmp/ipykernel_10926/2650557542.py:1: DtypeWarning: Columns (0,1,7,8,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('corona_2019.csv')

,age,sex,city,province,country,latitude,longitude,date_onset_symptoms,date_admission_hospital,date_confirmation,symptoms,chronic_disease_binary,outcome
0,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,NaN,NaN,14.02.2020,NaN,False,"critical condition, intubated as of 14.02.2020"
1,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,NaN,NaN,21.02.2020,NaN,False,death
2,61,female,NaN,NaN,Singapore,1.353460,103.815100,NaN,NaN,14.02.2020,NaN,False,discharge
3,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,NaN,NaN,26.01.2020,NaN,False,NaN
4,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,NaN,NaN,14.02.2020,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,52.0,female,Calleria,Coronel Portillo,Peru,-8.378190,-74.539700,NaN,NaN,17.05.2020,NaN,False,NaN
2676307,52.0,female,Pueblo Libre,Lima,Peru,-12.076530,-77.067350,NaN,NaN,17.05.2020,NaN,False,NaN
2676308,52.0,female,Comas,Lima,Peru,-11.932980,-77.040850,NaN,NaN,17.05.2020,NaN,False,NaN
2676309,52.0,male,Callao,Callao,Peru,-12.000740,-77.118240,NaN,NaN,17.05.2020,NaN,False,NaN
2676310,52.0,male,Los Olivos,Lima,Peru,-11.976260,-77.075030,NaN,NaN,17.05.2020,NaN,False,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676311 entries, 0 to 2676310
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   age                      object
 1   sex                      object
 2   city                     object
 3   province                 object
 4   country                  object
 5   latitude                 float64
 6   longitude                float64
 7   date_onset_symptoms      object
 8   date_admission_hospital  object
 9   date_confirmation        object
 10  symptoms                 object
 11  chronic_disease_binary   bool
 12  outcome                  object
dtypes: bool(1), float64(2), object(10)
memory usage: 247.6+ MB

In [50]:
df.drop(['symptoms'],axis = 1,inplace = True)

KeyError: "['symptoms'] not found in axis"

In [51]:
df

,age,sex,country,date_onset_symptoms,date_admission_hospital,date_confirmation,chronic_disease_binary,outcome
0,NaN,male,China,NaN,NaN,14.02.2020,False,Critical condition
1,78,male,Italy,NaN,NaN,21.02.2020,False,dead
2,61,female,Singapore,NaN,NaN,14.02.2020,False,discharged
3,NaN,NaN,China,NaN,NaN,26.01.2020,False,NaN
4,NaN,NaN,China,NaN,NaN,14.02.2020,False,NaN
...,...,...,...,...,...,...,...,...
2676306,52.0,female,Peru,NaN,NaN,17.05.2020,False,NaN
2676307,52.0,female,Peru,NaN,NaN,17.05.2020,False,NaN
2676308,52.0,female,Peru,NaN,NaN,17.05.2020,False,NaN
2676309,52.0,male,Peru,NaN,NaN,17.05.2020,False,NaN
2676310,52.0,male,Peru,NaN,NaN,17.05.2020,False,NaN

In [52]:
df.outcome.value_counts()

Hospitalized                202477
recovered                    97315
dead                          5999
Receiving Treatment            627
Stable                         320
discharged                     298
Alive                          189
Migrated                        13
Critical condition               4
recovering at home               4
released from quarantine         4
severe                           3
not hospitalized                 2
unstable                         1
Name: outcome, dtype: int64

In [53]:
df.drop(df.index[df['outcome'] == 'https://www.mspbs.gov.py/covid-19.php'], inplace = True)

In [22]:
df['outcome'].replace(['died','death','Dead','Death','Died','Deceased'],'dead',inplace=True)

In [43]:
df['outcome'].replace(['recovering at home 03.03.2020','treated in an intensive care unit (14.02.2020)'],'recovering at home',inplace=True)

In [33]:
df['outcome'].replace(['discharge','Discharged from hospital','Discharged'],'discharged',inplace=True)

In [41]:
df['outcome'].replace(['critical condition, intubated as of 14.02.2020','critical condition'],'Critical condition',inplace=True)

In [ ]:
df['outcome'].replace(['Recovered'],'recovered',inplace=True)

In [39]:
df['outcome'].replace(['severe illness'],'severe',inplace=True)

In [ ]:
df['outcome'].replace(['Recovered'],'recovered',inplace=True)

In [35]:
df['outcome'].replace(['Symptoms only improved with cough. Currently hospitalized for follow-up.'],'Hospitalized',inplace=True)

In [ ]:
df['outcome'].replace(['Migrated_Other'],'Migrated',inplace=True)

In [29]:
df['outcome'].replace(['stable','stable condition'],'Stable',inplace=True)

In [11]:
df.age.value_counts()

72775
44573
33074
20203
11469
9001
7696
6676
6306
6049
5972
5962
5776
5564
5535
5525
5521
5498
5494
5450
5440
5422
5338
5148
5095
5075
5045
4960
4939
4933
4895
4888
4867
4622
4578
4515
4507
4502
4332
4278
4265
4068
4056
4031
3813
3679
3626
3513
3392
3380
3357
3151
3136
2876
2604
2575
2445
2378
2309
2271
2183
2052
2030
1978
1959
1919
1918
1907
1879
1846
1841
1836
1814
1805
1805
1787
1771
1754
1750
1728
1708
1686
1677
1677
1657
1655
1638
1596
1581
1548
1545
1526
1525
1508
1503
1432
1424
1413
1382
1367
1366
1362
1350
1313
1298
1291
1284
1273
1228
1227
1218
1203
1109
1076
1035
1026
1019
987
964
930
918
874
855
852
830
825
820
808
805
799
794
779
779
778
778
764
747
731
723
719
717
700
669
650
649
641
632
626
624
616
614
613
602
575
556
552
534
512
510
490
464
453
438
420
413
406
397
374
370
370
357
356
355
347
345
339
329
326
322
298
289
269
268
266
264
252
241
240
227
222
214
212
211
210
205
204
183
182
182
177
160
157
149
141
139
138
135
134
133
133
128
127
127
126
122
121
119
119
118
116
114
114
114
113
112
112
111
110
109
109
108
106
105
104
103
102
102
102
101
97
97
96
95
95
94
94
92
91
90
89
86
83
81
77
77
75
72
71
70
68
68
68
65
65
58
55
54
54
51
51
51
49
49
48
48
46
46
46
46
46
46
41
40
39
37
37
36
34
32
31
31
30
30
30
29
28
28
26
26
25
24
23
22
22
20
20
20
19
18
18
18
18
18
17
17
17
16
16
16
15
15
15
15
14
14
14
14
14
14
14
13
13
12
12
12
11
11
10
10
10
10
10
10
10
10
9
9
9
9
9
9
9
8
8
8
8
8
8
8
8
8
7
7
7
7
7
7
6
6
6
6
6
6
5
5
5
5
5
5
5
5
5
5
5
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [9]:
df.drop(df.index[df['age'] == ['54.9','29.6']], inplace = True)

ValueError: ('Lengths must match to compare', (2676310,), (2,))

In [4]:
df.age.isnull().sum()

2098293

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2676185 entries, 0 to 2676310
Data columns (total 8 columns):
 #   Column                   Dtype
---  ------                   -----
 0   age                      object
 1   sex                      object
 2   country                  object
 3   date_onset_symptoms      object
 4   date_admission_hospital  object
 5   date_confirmation        object
 6   chronic_disease_binary   bool
 7   outcome                  object
dtypes: bool(1), object(7)
memory usage: 165.9+ MB

In [8]:
df.date_onset_symptoms.notnull().sum()

260968

In [9]:
df.shape

(580157, 13)

In [55]:
df.to_csv("corona_2019_new.csv",index=False)